/* Mobile first - Responsive CSS */

/* Mobile ==> sm & None */
@media screen and (max-width: 767.98px) {
    .container {
        --spacer: 10px;

        max-width: 360px;
    }
}

/* Tablet & PC ==> md & lg & xl & xxl */
@media screen and (min-width: 768px) {
    .header-logo {
        width: 100px;
        height: 100px;
    }
}

/* Tablet ==> md */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/* PC ==> lg & xl & xxl */
@media screen and (min-width: 992px) {
}
