*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
}

/********** Common Mobile **********/
:root {
    --primary-color: #5d3bee;

    --text-primary-color: #080415;
    --text-color: #51586a;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

a,
input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

.section-heading-h1 {
    color: var(--text-primary-color);
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -0.168rem;
}

.section-heading-h2 {
    color: var(--heading-color);
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.144rem;
}

.section-desc {
    color: var(--text-color);
    line-height: 1.62;
}

.btn {
    --height: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 147px;
    height: var(--height);
    background: var(--primary-color);

    color: #fdfdfd;
    font-weight: 700;
    line-height: var(--height);
}

/* Social => Mobile */
.social__wrap {
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.social__label {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.42;
}

.social__list {
    margin-left: 10px;
}

.social__item-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 1px solid #e3e1e8;
}

.social__item-wrap + .social__item-wrap {
    margin-left: 15.5px;
}

.social__item-icon {
}

/* Dots Wrap and Dots => Common */
.dots-wrap {
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 13px;
}

.dots {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #cecdd0;
    border: 3px solid #cecdd0;
}

.dots--active {
    background-color: var(--primary-color);
    border-color: #fff;
    outline: 1px solid var(--primary-color);
}

/********* Header Mobile *********/
.header {
    position: sticky;
    top: 0px;
    z-index: 2;
    padding: 20px 14px 0 13px;
    background: #fbfaff;
}

.header__container {
    overflow: hidden;
}

.header__wrap {
    display: flex;
    align-items: center;
    padding-bottom: 15.5px;
    border-bottom: 1px solid #d6d3e2;
}

/* Header Logo => Mobile */
.header-logo {
    order: 1;
    width: 37px;
    height: 44px;
}

/* Header Email => Mobile */
.header-email {
    order: 2;
    margin-left: auto;
}

.header-email__icon-wrap,
.header-nav__mobile-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #dbd4fc;
}

.header-email__icon {
    width: 16.696px;
    height: 11.13px;
}

.header-email__add {
    display: none;
}

/*** Header Nav => Mobile ***/
.header-nav {
    order: 3;
    margin-left: 10px;
}

.header-nav__mobile-wrap {
}

/* Header Nav Menu icon => Mobile */
.header-nav__mobile-icon-wrap {
}

.header-nav__mobile-icon {
    color: var(--primary-color);
}

/* Header Drawer Check Box => Mobile */
.header-nav__mobile-checkbox {
    display: none;
}

/* Header Drawer Overlay => Mobile */
.header-nav__mobile-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.header-nav__mobile-checkbox:checked ~ .header-nav__mobile-overlay {
    opacity: 1;
    visibility: visible;
}

/* Header Drawer Body => Mobile */
.header-nav__mobile-body {
    position: fixed;
    inset: 0 25% 0 0;
    padding: 32px;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform linear 0.2s;
}

.header-nav__mobile-checkbox:checked ~ .header-nav__mobile-body {
    transform: translateX(0);
}

/* Header Drawer Body LOGO => Mobile */
.header-nav__mobile-logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav__mobile-logo {
    width: 78px;
}

/* Header Drawer nav List => Mobile */
.header-nav__mobile-list {
    margin-top: 32px;
}

.header-nav__mobile-item {
    border-top: 1px solid #eee;
}

.header-nav__mobile-item:last-child {
    border-bottom: 1px solid #eee;
}

.header-nav__mobile-item-link {
    width: 100%;
    display: inline-block;
    padding: 16px 0;
    font-size: 1.8rem;
    font-weight: 600;
}

/* Header Drawer Social Nav => Mobile */
.social__list--nav-mobile {
    margin-left: 0;
    margin-top: 12px;
}

.social__item-wrap--nav-mobile {
    flex-direction: column;
    align-items: flex-start;
}

/*** Header nav List => PC ***/
.header-nav__list {
    display: none;
}

.header-nav__item {
}

.header-nav__item-link {
}

/********** Hero => Mobile **********/
.hero {
    padding-top: 50px;
    background: #fbfaff;
}

.hero__container {
    overflow: hidden;
}

.hero__wrap {
}

/*** Hero content => Mobile ***/
.hero-content {
}

.hero-content__heading {
    max-width: 260px;
}

.hero-content__desc {
    margin-top: 20px;
    max-width: 318px;
}

.hero-content__cta-wrap {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hero-content__cta-btn {
}

.hero-content__cta-text {
    margin-left: 40px;
    font-weight: 700;
    line-height: 1.87;
    color: var(--text-primary-color);
    text-decoration: underline;
}

/* Social in Common*/

/*** Hero media => Mobile ***/
.hero-media {
    position: relative;
    overflow: hidden;
}

/* Hero media Image => Mobile */
.hero-media__image {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.hero-media__image-img {
    position: relative;
    z-index: 1;
    width: 66.4%;
}

/* Hero media Decor => Mobile */
.hero-media__decor {
    display: flex;
    justify-content: center;
}

.hero-media__decor-image {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/*** Clients => Mobile ***/
.clients {
    padding-top: 125px;
}

.clients-container {
    overflow: hidden;
}

.clients__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients__heading {
    position: relative;
    width: 169px;
    font-size: 2.8rem;
    line-height: 1.21;
    letter-spacing: -0.112rem;
    text-align: center;
}

.clients__heading::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 48px;
    height: 2px;
    background-color: var(--primary-color);
}

.clients__list {
    width: 100%;
    max-width: 550px;
    padding: 0 20px;
}

.clients__list:nth-of-type(1) {
    margin-top: 6px;
}

.clients__list-row {
    margin-top: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients__item-logo {
    height: 36px;
}

.clients__item-logo[alt*="Google"] {
    height: 32px;
}

/********** Speci => Mobile ***********/
.speci {
    padding: 120px 0 122px;
}

.speci__container {
    overflow: hidden;
}

.speci__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.speci__heading {
}

.speci__desc {
    margin-top: 20px;
    max-width: 350px;
}

/* Speci Body => Mobile */
.speci__list {
    flex-wrap: nowrap;
    margin-top: 50px;
}

.speci__item {
    flex-grow: 0;
    width: 100%;
    padding: 29px 50px;
    background: #fbfaff;
}

.speci__item-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid #efeef3;
    overflow: hidden;
}

.speci__item-icon {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.speci__item-heading {
    margin-top: 30px;
    color: var(--text-primary-color);
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.112rem;
}

.speci__item-desc {
    margin-top: 10px;
    color: var(--text-color);
    line-height: 1.75;
}

/* Dots Wrap and Dots => Common */
.speci-bottom {
    margin-top: 32px;
}
/*********** Project => Mobile ***********/
.project {
    padding: 69px 0 60px;
    background-color: var(--primary-color);
}

.project-container {
    overflow: hidden;
}

.project__top {
}

.project__heading {
    width: 301px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.144rem;
}

.project__desc {
    max-width: 361px;
    margin: 20px auto 0;
    color: #fff;
    text-align: center;
    line-height: 1.62;
    opacity: 0.6;
}

.project__list {
    margin-top: 60px;
    row-gap: 30px;
}

.project__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    padding: 20px 15px;
    background-color: #fff;
    background-image: url(../img/project-item-bg.svg);
    background-repeat: no-repeat;
    background-size: 74% 100%;
    background-position: right 0 top 0;
}

.project__item-content {
}

.project__item-heading {
    color: var(--text-primary-color);
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.41;
    letter-spacing: -0.096rem;
}

.project__item-desc {
    margin-top: 4px;
    max-width: 176px;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.42;
}

.project__item-more {
    margin-top: 4px;
    color: var(--text-primary-color);
    font-weight: 700;
    line-height: 1.75;
    text-decoration: underline;
}

.project__item-media {
    width: 122px;
    height: 93px;
    object-fit: cover;
}

.project__bottom {
    margin-top: 50px;
    text-align: center;
}

.project__more {
    min-width: 154px;
    margin: 0 auto;
    color: var(--text-primary-color);
    background-color: #fff;
}

/************** Interactive => Mobile ***************/

.interactive {
    margin-bottom: -116px;
    padding: 120px 0 0;
    position: relative;
}

.interactive-container {
    overflow: hidden;
}

/* Interactive Top */
.interactive__top {
}

.interactive__title {
    color: #5d3bee;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2;
    letter-spacing: -0.08rem;
}

.interactive__title-icon {
    width: 18px;
    height: 18px;
    margin-left: 4px;
}

.interactive__heading {
    margin-top: 10px;
    color: var(--text-primary-color);
    text-align: center;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.144rem;
}

.interactive__desc {
    margin-top: 20px;
    color: var(--text-color);
    text-align: center;
    line-height: 1.62;
}

/* Interactive number List */
.interactive__number-list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 30px 16px;
    border-top: 1px solid #cecdd0;
    border-bottom: 1px solid #cecdd0;
}

/* Interactive number Item */
.interactive__number-item {
}

.interactive__number-item:last-child {
}

.interactive__number-item--number {
    color: var(--text-primary-color);
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.09rem;
    text-decoration: underline;
}

.interactive__number-item--title {
    width: 61px;
    margin-top: 5px;
    color: var(--text-color);
    line-height: 1.37;
}

/* Interactive Media */
.interactive__media {
    margin-top: 40px;
    position: relative;
    z-index: 1;
}

.interactive__media-image {
    width: 100%;
}

.interactive__media-intro-video {
    position: absolute;
    right: 10px;
    bottom: 10px;
    --height: 44px;
    min-width: 118px;
    background-color: #fff;
    color: var(--text-color);
    font-family: "DM Sans";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5;
    text-transform: uppercase;
}

.interactive__media-play-video {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 77px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f0f0f0f8;
}

.interactive__media-play-video-icon {
}

/*************** People says ***************/
.people-says {
    position: relative;
    padding: 229px 0 69px;
    background: #f6f4fd;
}

.people-says-container {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

/* People Says Decor */
.people-say__decor:nth-of-type(1) {
    position: absolute;
    left: 0;
    bottom: 0;
}

.people-say__decor:nth-of-type(2) {
    position: absolute;
    right: 0;
    bottom: 0;
}

.people-says__wrap {
}

/* People say - Top */
.people-says__top {
    text-align: center;
}

.people-says__heading {
}

.people-says__desc {
    margin-top: 20px;
}

/* People says - List */
.people-says__list {
    margin-top: 40px;
    flex-wrap: nowrap;
}

/* People say item */
.people-says__item {
    width: 100%;
}

.people-says__item-quote {
    margin: 0 auto;
    color: var(--text-color);
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.66;
}

/* People say - User */
.people-says__user {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 14.3px;
}

.people-says__user-avatar-wrap {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    padding-top: 6.7px;
    width: 39.833px;
    height: 39.833px;
    border-radius: 50%;
    background-color: orange;
    overflow: hidden;
}

.people-says__user-avatar {
    width: 100%;
    object-fit: cover;
}

.people-says__user-name {
    color: var(--text-primary-color);
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.66;
}

.people-says__user-desc {
    margin-top: 3.7px;
    color: var(--text-color);
    text-align: center;
    line-height: 1.81;
}

/* People Say Dots => Dots (Common) */
.people-dots {
    margin-top: 20px;
}
/********* Footer => Mobile *********/
